*.ipynb_checkpoints
clDeviceQuery
__pycache__

sis100/2019-05-29--tunescan/errors_*done
sis100/2019-05-29--tunescan/errors_*full-lattice.seq
sis100/2019-05-29--tunescan/errors_*.npy
sis100/2019-05-29--tunescan/errors_*_lost_at_turn.npy
#sis100/2019-05-29--tunescan/errors_*_summary.p

fodo_sc/015_same-as-014_20-sc-nodes/vid_poincare/
sis100/2019-08-22--tune-footprint-with-PIC-SC_synchrotron-motion-on/proton_ebym_105turns/

*.p
*.h5
*.h5part
